<!DOCTYPE html>
<html>
  <head>
    <title>VENKAT LICA</title>
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        text-align:center;
        color: rgb(128,0,128);
      }
      #banner{
        width:100%;
        height: 360px;
        object-fit:cover;
      }
      h2{
        font-family:cursive;
        color: rgb(165, 42, 42);
        text-align:center;
      }
      #container{
        max-width: 800px;
        margin:0 auto;
      }
      p{
        font-family:cursive
      }
      }
    </style>
  </head>
  <body>
    <div id="container">
          <h1>VENKAT LIC</h1>
      <img id="banner" scr="https://career-website--sruthisharma88.repl.co/static/venkat.jpg">
        <h2>About venkat</h2>
      <p class="body text">V.Venkat Rao joined in LIC as assistant development officer and confirmed as D.O in 1987. He excels in interpersonal communication skills, so he successfully grouped agents. Day by Day he motivated them to achieve their business targets. Soon his Team VVR started doing wonders from 1990's in RCPM branch. His team of 60 agents with 36 years of experience won the faith of custmers in East Godavari District and around towns.
        
      His agents Team VVR felicitated his retirment grandly on July 1st,2023 remembering his days of hardwork and committment. At present he works with LIC as an associate and continues to serve society educating about insurance importance while pooling young agents team</p>
      <h2>AGENTS</h2>
      <p class="body text">MDRT agents</p>
      <div style="text-align:center;">
      <button>contact us</button>
      </div>
      </div>
  </body>
</html>